
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Enter the parameters...</title>
</head>
<body>

	<form id="input-form" method="POST" action="{% url 'predict' %}">
		{% csrf_token %}
		<div class="form-group">
			<label for="district">Enter district name:</label>
			<input type="text" class="form-control" id="district" name="district" required>
			<label for="month">Enter the month:</label>
			<input type="text" class="form-control" id="month" name="month" required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
	<div id="result">
		<!-- Predicted output will be displayed here -->
	</div>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
	$(document).ready(function() {
		$('#input-form').on('submit', function(event) {
			event.preventDefault();
			$.ajax({
				url: '/predict/',
				method: 'POST',
				data: $(this).serialize(),
				success: function(response) {
					if ('prediction' in response) {
						// $('#result').text('Predicted output: ' +<p style="color:red;"> response['prediction']);
						$('#result').html('<p style="color: red;">Predicted output   :   ' + response['prediction'] + '</p>');
					} else if ('error' in response) {
						$('#result').text('Error: ' + response['error']);
					}
				},
				error: function(xhr, status, error) {
					console.error('AJAX error:', error);
				}
			});
		});
	});
	</script>
</body>
</html>

